@model Medacs.Areas.Admin.Models.ViewModel.FeedBackHeaderViewModel

@using (Html.BeginForm("FeedBackHeader","FeedBack",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FeedBackHeader</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FeedBackName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FeedBackName)
                @Html.ValidationMessageFor(model => model.FeedBackName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Instruction, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Instruction)
                @Html.ValidationMessageFor(model => model.Instruction)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherInformation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherInformation)
                @Html.ValidationMessageFor(model => model.OtherInformation)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


