@model Medacs.Core.Entities.FeedBack

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Colleague SurVey</title>
        
    </head>
    <body>
        <div>
            Colleague questionnaire<br/>
            For Dr <strong> John Mathew</strong>  
        </div>
        <table style="border:1px solid black;">
            <tr>
                <td>@Html.Raw(@Model.Instruction) </td>
            </tr>
        </table>
        <table>
          @{
              int count = 0;
              foreach (var question in Model.FeedBackSection.SelectMany(feedbak => feedbak.Questions))
              {
                  <tr>
                      @if (count < question.OptionGroup.OptionChoices.Count)
                      {
                          foreach (var option in question.OptionGroup.OptionChoices)
                          {
                              count = count + 1;
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td> @option.OptionChoiceName</td>
                          }
                      }
                    
                  </tr>
                  <tr>
                      <td>
                          @question.QuestionName
                      </td>
                      @foreach (var option in question.OptionGroup.OptionChoices)
                      {
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><input type="@question.InputType.InputTypeName" /></td>
                      }
                  </tr>
              }
          }
       </table>

    
        


        
    </body>
</html>